<h1>This Assholes Page</h1>
<h3>Name: <%=@user.name%></h3>
<h3>Email: <%=@user.email%></h3>
<hr>
<p>Total number of posts: <%=@user.ideas.length%></p>
<p>Total number of likes: <%=@user.likes.length%></p>
